* {
    padding: 0px 0px;
    margin: 0px 0px;
}
body {
    width: 60%;
    height: 100vh;
    margin-right: 20%;
    margin-left: 20%;
}

/* HEADER */

header {
    width: 100%;
    height: 90px;
    background-image: url(./imatges/header\ art\ 3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 55%;
}

.logo-container {
    width: 55px;
    height: 45px;
    background-color: rgba(245, 246, 250,0.6);
    float: left;
    margin-top: 23px;
    margin-left: 20px;
    display: inline-flex;
    border-style: solid;
    border-width: 3px;
    
    
}

.logo-text1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-right: 2px;
    
    
}

.logo-text2 {
    color: red;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-right: 2px;
    
}

.logo-text3 {
    color: black;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    
    
}

/* BOTONS DE XARXES*/


.social-insta {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-left: 3px;
    margin-top: 30px;
}

.social-face {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 30px;
}

.social-twitter {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
    margin-left: 3px;
    margin-top: 27px;
}


/* BARRA DE NAVEGACIÓN*/

.nav-elem {
    display: inline-flex;
    width: 100%;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.nav-elem li {
    width: 20%;
    height: 25px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    padding-top: 5px;
    margin-right: 1px;
    border-style: solid;
    border-width: thin;   
}

.nav-elem li:hover {
    background-color:rosybrown;
    color: seashell;
}

/*DESTACATS*/

.destacats {
    display: inline-flex;
    width: 100%;
    margin-top: 12px;
    position: relative;

}

.art1 {
    width: 33%;
    height: 130px;
    position: relative;
}

.imgArt1 {
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.art2 {
    width: 33%;
    height: 130px;
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
}

.imgArt2 {
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.art3 {
    width: 33%;
    height: 130px;
    position: relative;
}

.imgArt3 {
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.btn1 {
    color: black;
    background-color: whitesmoke;
    margin-left: 40%;
    font-size: 0.8em;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-decoration: none;
    cursor: pointer;
    position:absolute;
    top: 98px;
    right: 100px;

}

.tituloArt1 {
    text-align: center;
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30px;
    left: 10px;
    cursor: default;
}

.tituloArt2 {
    text-align: center;
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30px;
    left: 35px;
}

.tituloArt3 {
    text-align: center;
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 30px;
    left: 25px;
    cursor:default;
}

.imgArt1:hover, .imgArt2:hover, .imgArt3:hover {
    
    opacity: 50%;
    
}


/*ARTÍCULOS*/


article {
    display: inline-flex;
    width: 100%;
    height: 450px;
    margin-top: 12px;
    margin-bottom: 15px;
    position: relative;
    
}

.lateral-der {
    width: 20%;
    height: 100%;
    background-color: lightgrey;   
    position: relative;
}

.main-article {
    width: 60%;
    height: 100%;
    position: relative;
    display: inline-flex;
}

.lateral-izq {
    width: 20%;
    height: 100%;
    background-color: lightgrey; 
    position: relative;
}


.mainArtImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
    position: relative;
}

.mainArtText{
    width: 95.4%;
    text-align: justify;
    position: absolute;
    background-color: rgba(71, 71, 135,0.6);
    padding: 25px 10px;
    color: white;
    border-radius: 5px;
    font-size: 21px;
}

/* FOOTER */

.footer {
    background-color: grey;
    height: 40px;
}

footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 1em;
    color: lightyellow;
    text-align: left;
    padding-left: 5px;
    padding-top: 2px;
}