* {
    padding: 0px 0px;
    margin: 0px 0px;
}
body {
    width: 60%;
    height: 100vh;
    margin-right: 20%;
    margin-left: 20%;
}

/* HEADER */

header {
    width: 100%;
    height: 13%;
    background-image: url(./imatges/header\ art\ 3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 55%;
    position: relative;
}

/*LOGO*/

.logo-container {
    width: 20%;
    height: 76%;
    background-color: rgba(245, 246, 250,0.6);
    float: left;
    margin-top: 1vh;
    margin-left: 1vw;
    display: inline-flex;
    border-style: solid;
    border-width: 3px;
    position: relative;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit:cover;
}


header .botons {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

header .botons .social-insta {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: lightgrey;
    border-radius: 50%;
    border-color: black;
    float: right;
}

header .botons .social-face {
    width: 30px;
    height: 30px;
    margin-left: 2%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: lightgrey;
    border-radius: 50%;
    border-color: black;
    float: right;
}


header .botons .social-twitter {
    width: 30px;
    height: 30px;
    margin-top: 3.6vh;
    margin-bottom: 4vh;
    background-color: lightgrey;
    border-radius: 50%;
    border-color: black;
    float: right;
}

/* BARRA DE NAVEGACIÓN*/

.nav {
    display: inline-flex;
    width: 100%;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.nav-elem {
    width: 20%;
    height: 10%;
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 1px;
    border-style: solid;
    border-width: thin;
}

.nav-elem:hover {
    background-color:rosybrown;
    color: seashell;
}

/*DESTACATS*/

.destacats {
    display: inline-flex;
    width: 100%;
    height: 23%;
    margin-top: 12px;
    position: relative;
}

.art {
    width: 33%;
    height: 100%;
    position: relative;
}

.artmid {
    width: 33%;
    height: 100%;
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
}


.artmid h2,
.art h2 {
    width: 100%;
    text-align: center;
    font-size: 6.5vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    cursor: default;
    top: 30%;
}

.imgArt {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit:cover;
}



.btncontainer button {
    
    color: black;
    background-color: whitesmoke;
    font-size: 1vw;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    border-radius: 5px;
}

.btncontainer {
    width: 100%;
    top: 70%;
    position: absolute;
    text-align: center;

}


.art:hover .imgArt, 
.artmid:hover .imgArt {  
    opacity: 50%;
    
}


/*ARTICLES*/


article {
    display: inline-flex;
    width: 100%;
    height: 40%;
    margin-top: 12px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.main-article {
    width: 40%;
    height: 100%;
    position: relative;
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
}

.mainArtImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.mainArtText{
    text-align: justify;
    position: absolute;
    background-color: rgba(71, 71, 135,0.9);
    padding: 25% 4% 6% 4%;
    color: white;
    border-radius: 5px;
    font-size: 2.5vh;
   
}


.mainArtTit {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 6%;
    color: white;
    font-size: 3vh;
    text-decoration: underline;
    
    
}

.lateral-izq,
.lateral-der {
    width: 30%;
    height: 100%;
    position: relative;
    display: inline-flex;
    
}

.lateral-izq img,
.lateral-der img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit:cover;
}

.ArtText{
    text-align: justify;
    position: absolute;
    background-color: rgba(39, 174, 96,0.9);
    padding: 28% 4% 6% 4%;
    color: white;
    border-radius: 5px;
    font-size: 2.5vh;
    font-weight: bold;
    
}


.ArtTit {
    width: 100%;
    position: absolute;
    color: white;
    font-size: 2.5vh;
    text-decoration: underline;
    text-align: center;
    top: 6%;
}



.linkcontainer button {
    
    top: 90%;
    left: 55%;
    font-size: 16px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(44, 62, 80,0.95);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.linkcontainer {
    width: 100%;
    position:absolute;
    text-align: center;
    top: 90%;
}

.linkcontainer button:hover {
    color: yellow;
    background-color: rgba(44, 62, 80,0.5);
}

/* FOOTER */

footer {
    width: 100%;
    background-color:brown;
    height: 8%;
    position: relative;
    display: inline-flex;
}

footer .data1 {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 2.2vh;
    color: white;
    text-align: center;
    top: 23%;
    left: 1%;
}

footer .data2 {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 2.2vh;
    color: white;
    text-align: right;
    top: 20%;
    right: 1%;
}

footer .data3 {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 2.2vh;
    color: white;
    text-align: left;
    top: 15%;
    left: 1%;
}


footer .verticalE,
.verticalD {
    width: 0%;
    height: 70%;
    position: absolute;
    border-color: black;
    top: 12%;
}

.verticalD {
    left: 70%;
}

.verticalE {
    left: 30%;
}
